*{
    margin: 0;
    padding: 0;
}

#dvd-logo {
    position: absolute;
    width: 100px;
    height: auto;
    filter: drop-shadow(0 0 8px rgba(255,255,255,0.7));

    animation: moveX 7s linear 0s infinite alternate, 
               moveY 5s linear 0s infinite alternate;
}

@keyframes moveX {
    from { left: 0; } 
    to { left: calc(100vw - 100px); }
}

@keyframes moveY {
    from { top: 0; } 
    to { top: calc(100vh - 100px); }
}

#hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    align-content: center;
    gap: 20px;
    justify-content: center;
}
.opciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
    background-color: #ccc;
}
.hide{
    display: none;
}
.show {
    display: block;
}
.nou{
    position: absolute;
    left: calc(50vw - 150px);
    top: calc(50vh - 100px);
    display: flex;
    gap: 20px;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 300px;
}
.popio{
    position: absolute;
    left: calc(50vw - 100px);
    display: flex;
    flex-direction: column;
    top: calc(50vh - 100px);
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 300px;
    color: white;
    width: 200px;
}
#rosa{
    width: 300px;
}

.animate__animated,.animate__bounceIn,.animate__fadeIn {
    --animate-duration: 2s;
}
#back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
#arrow-container {
    position: fixed;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow {
    width: 40px;
    height: 40px;
    transition: transform 0.1s ease-out;
}

#arrow::before {
    content: "→";
    color: rgb(255, 0, 0);
    font-size: 40px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    display: block;
}